.card{
  width: 1200px;
  max-width: 1200px;
  margin: 20px auto;
}

.header{
  margin-bottom: 2px;

  .btn-approve {
    background: #17b85c;
    border: none;
    padding: 8px 20px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 6px;
  }

  .btn-reject {
    background: #d11e1e;
    border: none;
    padding: 8px 20px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
  }
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #bbb;
  padding: 8px;
  text-align: center;
}

.table thead {
  background: #0078d7;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 450px;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);

  .modal-header {
    background: #0078d7;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .modal-body {
    padding: 10px;
    display: flex;

    label{
      flex: 2;
    }
    textarea{
      flex: 8;
    }
  }

  .modal-body textarea {
    width: 100%;
    height: 100px;
    margin-top: 6px;
  }

  .modal-footer {
    text-align: right;
    padding: 10px;
    border-top: 1px solid #ddd;
  }

  .btn-approve-modal {
    background: #0571b7;
    color: white;
    padding: 6px 16px;
    border: none;
    margin-right: 8px;
    border-radius: 4px;
  }

  .btn-reject-modal {
    background: #d11e1e;
    color: white;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
  }

}

